<html lang="en">

<head>
    <title>Razor pay details</title><link href="http://18.206.245.117/static/styles.css" rel="stylesheet">
</head>

<body>
    <div class="card">
        <h2>Enter the reference number:</h2>
        <p>
            <form method="post">
                <div class="group">
                    <input type="text" name="paymentId" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>ref number</label>
                </div>
                <button class="btn" type="submit">Submit</button>
            </form>
        </p>
        <!-- date, email, contact, address, merchantOrderId, accountId, amount, tax -->
        <p><h3 class={{showResult}}>
            <p>Message: {{ message }}</p>
            <p>id: {{ id }}</p>
            <p>Date: {{ date }}</p>
            <p>Email: {{ email }}</p>
            <p>Contact: {{ contact }}</p>
            <p>Address: {{ address }}</p>
            <p>Amount: {{ amount }}</p>
            <p>Tax: {{ tax }}</p>
            <p>Merchant Order Id: {{ merchantOrderId }}</p>
            <p>Account Id: {{ accountId }}</p>        
        </h3></p>
        <a href="/addkey" style="text-decoration:none;" target="_blank" rel="noopener noreferrer"><button class="btn">Add Key</button></a>
    </div>


</body>

</html>