<html lang="en">

<head>
    <title>Razor pay details</title>
    <!-- <link href="http://54.88.50.67/static/styles.css" rel="stylesheet"> -->

    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="card">
        <h2>Enter the reference number:</h2>
        <p>
            <form method="post">
                <div class="group">
                    <input type="text" name="paymentId" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>ref number</label>
                </div>
                <p><h3>{{ message }}</h3></p>
                <div class="row">
                    <button class="btn" type="submit">Submit</button>
                    <a class="btn" href="/addkey" style="text-decoration:none;"><div class="center-text">Add Key</div></a>
                </div>
                
            </form>
        </p>
        <!-- date, email, contact, address, merchantOrderId, accountId, amount, tax -->
        
        
    </div>
    <div class={{otherContent}}>
        <div class="card">
            <h3>
                <p>id: {{ id }}</p>
                <p>Date: {{ date }}</p>
                <p>Email: {{ email }}</p>
                <p>Contact: {{ contact }}</p>
                <p>Address: {{ address }}</p>
                <p>Amount: {{ amount }}</p>
                <p>Tax: {{ tax }}</p>
                <p>Merchant Order Id: {{ merchantOrderId }}</p>
                <p>Account Id: {{ accountId }}</p>
            </h3>
        </div>
    </div>


</body>

</html>